body
{
    text-align: center;
}
.headpanel
{
    background-color: red;
    width: 100%;
    height: 40px;

}
.cart img
{
    height: 100%;
    vertical-align: baseline;

}
.cart a
{
    font-size: 150%;
    text-decoration: none;

}
.cart
{
    float: right;
    height: 100%;
    margin-right: 1.5%;
}
.menu
{
    margin-top: 4%;
}
.tab
{
    margin: 3% 10% 0 10%;
}
th
{
    text-align: center;
}
.submit
{
    float: right;
    margin-right: 3%;
}
.pagi
{
    text-align: center;
    margin: 6% auto 0 auto;
}
/*to disable the clickable link of bootstrap class for pagination */
.disabled
{
    pointer-events: none;
}
.tablequantity
{
    text-align: center;
    width: 11%;
}
.col-xs-3
{
    width:100%;
}
.total
{
    font-size: 150%;
}
.removeitem
{
    width: 5%;
}
.removeitem input[type = "submit"]
{
    border: none;
}
#sum
{
    text-align: left;
}
#sum b
{
    margin-left: 15%;
}
